{% extends "base.html.twig" %}
{% block title %}Contactos{% endblock %}
{% block body %}<h1>Nuevo Contacto</h1>
{{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
{{form(formulario)}}
{% endblock %}